.register {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(145deg, #BB945F, #DCC7A1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    align-items: center;
    }
    .register-email {
        width: 90%;
    }
    .register p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 1rem;
    }
    
    .register input, button {
    width: 80%;
    height: 2.5rem;
    border: 1px solid #BB945F;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 1rem;
    margin-bottom: 1rem;
    }
    
    input::placeholder {
    color: #BB945F;
    }
    
    .register-button {
    background-color: #BB945F;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-image: none;
    width: auto;
    }
    
    button:hover {
    background-color: #DCC7A1;
    }
    
    .register-google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    }
    
    .register-google p {
    color: #FFF;
    }
    
    .register-img {
    width: 2rem;
    cursor: pointer;
    }
    
    @media (max-width: 668px) {
    .register {
    padding: 20px;
    }
    
    .register-google {
    flex-direction: column;
    padding: 10px;
    }
    
    .register-google p {
    margin-bottom: 10px;
    font-size: 1rem;
    }
    
    .office-register {
    max-width: 90%;
    }
    
    .register h1 {
    font-size: 1rem;
    }
    
    input, button {
    height: 2.5rem;
    width: 90%;
    }
    
    .register-img {
    width: 2.5rem;
    }
    
    .register-email {
    gap: 0.5rem;
    }
    }
