/* welcome start */
.welcome {
    height: 600px;
    background: linear-gradient(to bottom, rgba(0,0,0,1.5), rgba(0,0,0,0)), 
    url('./image/kak-vyrastit-semena-02.jpg') no-repeat center center; 
    background-size: cover;
    padding-top: 220px;
}
.wrapper_main {
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    background-color: rgba(0, 0, 0, 0.8);
}
.into_title {
    color: #FFF;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
/* welcome end */

/* about start*/
.about h1, p {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    margin: 20px;
}
.about  p {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    margin: 20px;
}
.line {
    border: none;
    background-color: #0C0C0E;
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    margin: auto;
}
.about p {
    font-size: 20px;
    margin: 40px 0 20px 0;
}
.blog {
    padding: 40px 20px;
}
.home-main {
    margin-top: 10px;
}
.h1-main {
    margin: 20px;
    font-size: 3rem;
    color: #0C0C0E;
}
.home-blog {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 20px 20px;
    justify-content: center;
}


/* about end*/
.blok-link {
    width: 40%;
    height: 30vw;
    perspective: 1500px; 
    margin-bottom: 2rem; 
    }
    
    .blok-link:hover .blog-img {
    transform: rotateY(20deg);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s, box-shadow 0.5s;
    }
    
    .blog-img {
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: inherit;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s; 
    }
    @media (max-width: 768px) {
        .welcome {
        height: 300px;
        padding-top: 110px;
        }
        .wrapper_main {
        width: 90%;
        height: auto;
        padding: 20px;
        }
        .into_title {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1px;
        }
        .about h1, .about p {
        font-size: 24px;
        margin: 10px;
        }
        .about p {
        font-size: 16px;
        margin: 20px 0;
        }
        .home-blog {
        flex-direction: column;
        gap: 2rem;
        }
        .blok-link {
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
        }
        .blog-img {
        border-radius: 5px;
        width: 100%;
        height: auto;
        }
        }
